<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profil Utilisateur</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-xl">
  <div class="flex items-center space-x-6">
    <img src="profile.png" alt="Photo de profil" class="w-24 h-24 rounded-full shadow-md">
    <div>
      <h2 class="text-2xl font-bold text-gray-800">{{user.username}}</h2>
      <p class="text-gray-600">{{user.email}}</p>
      <p class="text-gray-600">{{user.subscription | lowercase}}</p>
      <span class="text-sm text-gray-500">Membre depuis le {{user.createdAt | date: 'fullDate' }}</span>
    </div>
  </div>
  <div class="mt-6 grid grid-cols-3 gap-4 text-center">
    <div class="p-4 bg-gray-50 rounded-lg shadow-sm">
      <p class="text-xl font-semibold text-gray-800">{{calculs}}</p>
      <span class="text-sm text-gray-500">Calcul{{logins>1?"s": ""}}</span>
    </div>
    <div class="p-4 bg-gray-50 rounded-lg shadow-sm">
      <p class="text-xl font-semibold text-gray-800">{{logins}}</p>
      <span class="text-sm text-gray-500">Connexion{{logins>1?"s": ""}}</span>
    </div>
    <div class="p-4 bg-gray-50 rounded-lg shadow-sm">
      <p class="text-xl font-semibold text-gray-800">0</p>
      <span class="text-sm text-gray-500">Sauvegarde</span>
    </div>
  </div>
  <div class="mt-6">
    <button disabled class="disabled:bg-blue-300 w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition">Modifier le profil</button>
  </div>
  <div class="mt-6">
    <button routerLink="/dashboard/home" class="disabled:bg-blue-300 w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition">Algorithmes</button>
  </div>
</div>
</body>
</html>
