<div class="flex flex-wrap" >
  <!-- Liste des modules (colonne gauche) -->
  <div class="overflow-y-auto max-h-screen w-full sm:w-1/2 lg:w-1/4 bg-gray-100 p-4 border-r">
    <h2 class="text-lg font-bold mb-4">Modules</h2>
    <div  *ngIf="user && user.subscription == 'PREMIUM'" class="grid gap-4">
      <div  *ngIf="verifyOptimaPermission('Optima 1')" class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 1</h3>
        <p class="text-sm text-gray-600">Détermine une politique d'inventaire optimale lorsque la demande est connue.</p>
        <a
          routerLink="/dashboard/optima1"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div *ngIf="verifyOptimaPermission('Optima 2')"  class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 2</h3>
        <p class="text-sm text-gray-600">Compare les coûts probables pour différents niveaux de stock et différentes fréquences de commande.</p>
        <a
          routerLink="/dashboard/optimum2"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div *ngIf="verifyOptimaPermission('Optima 3')" class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 3</h3>
        <p class="text-sm text-gray-600">Le modèle traite des problèmes où la demande est aléatoire.</p>
        <a
          routerLink="/dashboard/optimum3"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div *ngIf="verifyOptimaPermission('Optima 4')" class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 4</h3>
        <p class="text-sm text-gray-600">Optimise les coûts de stockage en prenant en compte les coûts fixes, variables, et les pénalités liées aux arriérés et aux retards.</p>
        <a
          routerLink="/dashboard/optimum4"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div *ngIf="verifyOptimaPermission('Optima 5')" class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 5</h3>
        <p class="text-sm text-gray-600">Planifie la production mensuelle pour minimiser les coûts de variation de cadence tout en satisfaisant la demande cumulée.</p>
        <a
          routerLink="/dashboard/optimum5"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div *ngIf="verifyOptimaPermission('Optima 6')" class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 6</h3>
        <p class="text-sm text-gray-600">Optimise le transport et la distribution entre usines et entrepôts pour minimiser les coûts de logistique tout en respectant les capacités d'approvisionnement et la demande.</p>
        <a
          routerLink="/dashboard/optimum6"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div *ngIf="verifyOptimaPermission('Optima 7')" class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 7</h3>
        <p class="text-sm text-gray-600">Optimise le transport et la distribution entre usines et entrepôts pour minimiser les coûts de logistique tout en respectant les capacités d'approvisionnement et la demande.</p>
        <a
          routerLink="/dashboard/optimum7"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div *ngIf="verifyOptimaPermission('Optima 8')" class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 8</h3>
        <p class="text-sm text-gray-600"></p>
        <a
          routerLink="/dashboard/optimum8"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div *ngIf="verifyOptimaPermission('Optima 9')" class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 9</h3>
        <p class="text-sm text-gray-600"></p>
        <a
          routerLink="/dashboard/optimum9"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div *ngIf="verifyOptimaPermission('Optima 10')" class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima X</h3>
        <p class="text-sm text-gray-600"></p>
        <a
          routerLink="/dashboard/optimumX"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
    </div>
    <div  *ngIf="user && user.subscription == 'FREEMIUM'" class="grid gap-4">
      <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 1</h3>
        <p class="text-sm text-gray-600">Détermine une politique d'inventaire optimale lorsque la demande est connue.</p>
        <a
          routerLink="/dashboard/optima1"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 2</h3>
        <p class="text-sm text-gray-600">Compare les coûts probables pour différents niveaux de stock et différentes fréquences de commande.</p>
        <a
          routerLink="/dashboard/optimum2"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 3</h3>
        <p class="text-sm text-gray-600">Le modèle traite des problèmes où la demande est aléatoire.</p>
        <a
          routerLink="/dashboard/optimum3"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 4</h3>
        <p class="text-sm text-gray-600">Optimise les coûts de stockage en prenant en compte les coûts fixes, variables, et les pénalités liées aux arriérés et aux retards.</p>
        <button
          (click)="openDialog()"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-yellow-500 rounded hover:bg-yellow-600"
        >
          Premium
        </button>
      </div>
      <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 5</h3>
        <p class="text-sm text-gray-600">Planifie la production mensuelle pour minimiser les coûts de variation de cadence tout en satisfaisant la demande cumulée.</p>
        <button
          (click)="openDialog()"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-yellow-500 rounded hover:bg-yellow-600"
        >
          Premium
        </button>
      </div>
      <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 6</h3>
        <p class="text-sm text-gray-600">Optimise le transport et la distribution entre usines et entrepôts pour minimiser les coûts de logistique tout en respectant les capacités d'approvisionnement et la demande.</p>
        <a
          (click)="openDialog()"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-yellow-500 rounded hover:bg-yellow-600"
        >
          Premium
        </a>
      </div>
      <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 7</h3>
        <p class="text-sm text-gray-600">Optimise le transport et la distribution entre usines et entrepôts pour minimiser les coûts de logistique tout en respectant les capacités d'approvisionnement et la demande.</p>
        <button
          (click)="openDialog()"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-yellow-500 rounded hover:bg-yellow-600"
        >
          Premium
        </button>
      </div>
      <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 8</h3>
        <p class="text-sm text-gray-600"></p>
        <a
          (click)="openDialog()"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-yellow-500 rounded hover:bg-yellow-600"
        >
          Premium
        </a>
      </div>
      <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 9</h3>
        <p class="text-sm text-gray-600"></p>
        <button
          (click)="openDialog()"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-yellow-500 rounded hover:bg-yellow-600"
        >
          Premium
        </button>
      </div>
      <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima X</h3>
        <p class="text-sm text-gray-600"></p>
        <button
          (click)="openDialog()"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-yellow-500 rounded hover:bg-yellow-600"
        >
          Premium
        </button>
      </div>
    </div>
    <div  *ngIf="user && user.subscription == 'ENTREPRISE'" class="grid gap-4">
      <div   class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 1</h3>
        <p class="text-sm text-gray-600">Détermine une politique d'inventaire optimale lorsque la demande est connue.</p>
        <a
          routerLink="/dashboard/optima1"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div   class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 2</h3>
        <p class="text-sm text-gray-600">Compare les coûts probables pour différents niveaux de stock et différentes fréquences de commande.</p>
        <a
          routerLink="/dashboard/optimum2"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div  class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 3</h3>
        <p class="text-sm text-gray-600">Le modèle traite des problèmes où la demande est aléatoire.</p>
        <a
          routerLink="/dashboard/optimum3"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div  class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 4</h3>
        <p class="text-sm text-gray-600">Optimise les coûts de stockage en prenant en compte les coûts fixes, variables, et les pénalités liées aux arriérés et aux retards.</p>
        <a
          routerLink="/dashboard/optimum4"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div  class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 5</h3>
        <p class="text-sm text-gray-600">Planifie la production mensuelle pour minimiser les coûts de variation de cadence tout en satisfaisant la demande cumulée.</p>
        <a
          routerLink="/dashboard/optimum5"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 6</h3>
        <p class="text-sm text-gray-600">Optimise le transport et la distribution entre usines et entrepôts pour minimiser les coûts de logistique tout en respectant les capacités d'approvisionnement et la demande.</p>
        <a
          routerLink="/dashboard/optimum6"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 7</h3>
        <p class="text-sm text-gray-600">Optimise le transport et la distribution entre usines et entrepôts pour minimiser les coûts de logistique tout en respectant les capacités d'approvisionnement et la demande.</p>
        <a
          routerLink="/dashboard/optimum7"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 8</h3>
        <p class="text-sm text-gray-600"></p>
        <a
          routerLink="/dashboard/optimum8"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div  class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima 9</h3>
        <p class="text-sm text-gray-600"></p>
        <a
          routerLink="/dashboard/optimum9"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
      <div class="bg-white shadow-md rounded-lg p-4 hover:shadow-lg transition-shadow">
        <h3 class="text-md font-semibold text-gray-800 mb-2">Optima X</h3>
        <p class="text-sm text-gray-600"></p>
        <a
          routerLink="/dashboard/optimumX"
          class="mt-3 inline-block px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded hover:bg-blue-600"
        >
          Voir
        </a>
      </div>
    </div>
  </div>

  <!-- Zone des détails (colonne droite) -->
  <div class="w-full sm:w-1/2 lg:w-3/4 p-4 overflow-y-auto max-h-screen">
    <router-outlet></router-outlet>
  </div>
</div>

